---
import "../shared/global.css";
import "@fontsource-variable/onest";

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Badge from "../components/Badge.astro";
import GitHubIcon from "../shared/icons/GitHubIcon.astro";
import LinkedInIcon from "../shared/icons/LinkedInIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import ContainerSection from "../components/Container.astro";
import AboutMe from "../components/AboutMe.astro";
import Briefcase from "../shared/icons/Briefcase.astro";
import Projects from "../components/Projects.astro";
import FolderIcon from "../shared/icons/FolderIcon.astro";
import CV from "../shared/icons/CV.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="px-5">
    
    <ContainerSection class="py-35 pb-10">
      <AboutMe />
      <nav class="flex flex-row gap-x-2 mt-5">
        <SocialPill href="https://github.com/BorisMejia">
          <GitHubIcon class="size-6 gap" />
          GitHub
        </SocialPill>
        <SocialPill href="https://www.linkedin.com/in/borisffernandezm/">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill>
          <CV class="size-8"/>
          Curriculum
        </SocialPill>
      </nav>
    </ContainerSection>

    <ContainerSection id="experiencia" class="">
      <h2 class="text-3xl font-semibold flex gap-x-2 items-center">
        <Briefcase class="size-8"/>
        Experiencia
      </h2>
      <Experience />
    </ContainerSection>

      <ContainerSection id="proyectos" class="items-center">
      <h2 class="text-3xl font-semibold flex gap-x-2 items-center">
        <FolderIcon class="size-8"/>
        Proyectos
      </h2>
      <Projects />
    </ContainerSection>
  </main>
</Layout>
