---
import Badge from "./Badge.astro";
---

<h1 class="text-white text-xl lg:text-4xl font-bold flex flex-row gap-x-5 pb-10">
  Hola, soy Boris Fernandez
  <a
    href="https://linkedin.com/in/borisffernandezm"
    target="_blank"
    rel="noopener noreferrer"
    class="flex justify-center items-center"
  >
    <Badge>Disponible para trabajar</Badge>
  </a>
</h1>
<h2 class="lg:text-2xl">
  Con más de 3 años de experiencia en el desarrollo de aplicaciones backend, utilizando Java y el Framework Spring. Actualmente, me encuentro ampliando mis conocimientos en desarrollo frontend con Angular y fortaleciendo mis habilidades en la nube con AWS y Azure.
</h2>
