---
import Badge from "./Badge.astro";
---

<h1 class="text-white text-5xl font-bold flex flex-row gap-x-5 pb-10">
  Hola, soy Boris
  <a
    href="https://linkedin.com/in/borisffernandezm"
    target="_blank"
    rel="noopener noreferrer"
    class="flex justify-center items-center"
  >
    <Badge>Disponible para trabajar</Badge>
  </a>
</h1>
<h2 class="text-2xl">
  +3 años en el desarrollo de aplicaciones backen, con experiencia en Java y su framework Spring.
  Tambien estoy incursionando en el desarrollo de apliaciones frontend con Angular.
</h2>
