---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
    {
        company: "BarberShop",
        title: "Desarrollo Full Stack",
        date: "Mayo-Actual",
        description: "Desarrollo de una aplicación web para la gestión de inventario, ganancias y gastos de una barbería. Implementación de funcionalidades de autenticación, gestión de usuarios y generación de reportes. Utilizando tecnologías como Angular, Spring Boot y PostgreSQL para crear una experiencia de usuario fluida y eficiente.",
    } ,    
{   
        company: "IPS Suramericana",
        title: "Desarrollador Backend",
        date: "16-06-2023 a 14-12-2024",
        description: "Responsable de fortalecer la seguridad en 12 aplicaciones críticas, implementando mejoras en autenticación, autorización y encriptación de datos. Participé activamente en la migración de pipelines de Jenkins a Azure DevOps en 8 aplicaciones, resolviendo incidencias y asegurando una transición exitosa. Realicé mantenimiento y mejoras en microservicios y APIs desarrollados con Java Spring Boot y Scala. Además, ejecuté pruebas unitarias e integrales, optimicé bases de datos relacionales, gestion de repositorios con Git y participé en despliegues mediante Docker y WebLogic.",

    },

];
---
 
<ol class="relative border-s border-gray-200 ml-4">


    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-6"> 
                <ExperienceItem {...experience}/>
            </li>
            

        ))
    }



  
</ol>
