<header class="fixed top-0 z-50 min-w-screen mx-auto py-4 px-6 backdrop-blur-md bg-white/10 shadow-lg">
  <nav class="flex justify-center gap-2 sm:gap-4 text-base lg:text-xm">
    <a href="#" class="  shadow-fuchsia-500 px-4 py-2 rounded-lg shadow-sm hover:scale-105 transition">
      Inicio
    </a>
    <a href="#experiencia" class="shadow-fuchsia-500 px-4 py-2 rounded-lg shadow-sm hover:scale-105 transition">
      Experiencia
    </a>
    <a href="#proyectos" class="shadow-fuchsia-500 px-4 py-2 rounded-lg shadow-sm hover:scale-105 transition">
      Proyectos
    </a>
    <a href="https://www.linkedin.com/in/borisffernandezm/" target="_blank" class="shadow-fuchsia-500 px-4 py-2 rounded-lg shadow-sm hover:scale-105 transition">
      Contacto
    </a>
  </nav>
</header>
